@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap') layer(base);

@import 'tailwindcss';

* {
    @apply scroll-smooth;
}

body {
    @apply bg-white;
}

.container {
    @apply mx-auto w-full max-w-[1440px] px-3 sm:px-4 md:px-8 lg:px-12 2xl:px-16;
}

input:active,
input:focus {
    outline: 1px solid #ffcf00 !important;
    background: white !important;
}
