@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap') layer(base);

@import 'tailwindcss';

* {
    @apply scroll-smooth;
}

body {
    @apply bg-white;
}

.container {
    @apply mx-auto w-full max-w-[1440px] px-3 sm:px-4 md:px-8 lg:px-12 2xl:px-16;
}

input:active,
input:focus {
    outline: 1px solid #ffcf00 !important;
    background: white !important;
}

input {
    width: 100%;
    padding: 10px 12px; /* 🔹 Kichik ekranlarda ixcham */
    font-size: 14px;
    border-radius: 10px;
    background-color: #f3f4f6;
    border: none;
    color: #1f2937;
    font-weight: 500;
    outline: none;
}

/* Medium (≥768px) */
@media (min-width: 768px) {
    input {
        padding: 14px 16px;
        font-size: 16px;
        border-radius: 12px;
    }
}
